#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
reboot
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang fr_FR.UTF-8

selinux --permissive
firewall --disabled

# Network information
#network  --bootproto=static --device=enp0s3 --gateway=10.0.0.2 --ip=10.0.0.3 --nameserver=10.51.1.42 --netmask=255.255.255.255 --ipv6=auto --activate
#network  --hostname=vmskylinec7.42.fr
network --bootproto=dhcp
# Root password
rootpw --iscrypted $6$6.0cgEgqZiRWAoeI$ey43HzH1aPOPWX3NtoEAVXff4uudx5E.zNBFFomf9Kvn1gXnt0XOH100xWHuDAEZ/BI1jkw1Gmr1w61mCuyde/
# System services
services --enabled="chronyd"
#services --disabled firewalld
# System timezone
timezone Europe/Paris --isUtc
user --groups=wheel --name=utest --password=$6$WFCBWu2gouROEGjk$vYDDvBnMqxYqOdu167PTkXVN6zdMNfMCBCU3jD1pO9pcVaI/eYLBOHJuW6OeRalscsNsTX3.ymrKVZUcsd/XX1 --iscrypted --gecos="user test"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
#part /boot --fstype="xfs" --ondisk=sda --size=200
#part swap  --fstype="swap" --ondisk=sda --size=1736
#part /  --fstype="xfs" --ondisk=sda --size=4300
#part /var  --fstype="xfs" --ondisk=sda --size=1948 
part pv.634 --fstype="lvmpv" --ondisk=sda --size=7991
part /boot --fstype="xfs" --ondisk=sda --size=200
volgroup centos_vmskylinec7 --pesize=4096 pv.634
logvol swap  --fstype="swap" --size=1736 --name=swap --vgname=centos_vmskylinec7
logvol /  --fstype="xfs" --size=4300 --name=root --vgname=centos_vmskylinec7
logvol /var  --fstype="xfs" --size=1948 --name=var --vgname=centos_vmskylinec7


%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%post --log=/root/ks.log 
yum -y update

%end
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
